* {
    margin: 0px;
    padding: 0px;
}

/*body*/
section {
    background-color: rgb(48, 49, 50);
    color: blue;
    overflow-x: hidden;
}

.carousel {
    display: flex;
    overflow-x: scroll;
}

section ul {
    list-style-type: none;
    height: 360px;
}

section li {
    position: relative;
    min-width: 300px;
    padding: 10px;
}

section h2 {
    height: 60px;
}

section img {
    width: auto;
}

.agrandir_oeuvre{
    position: absolute;
    width: 194px;
    height: 259px;
    transition: 550ms cubic-bezier(.17,.67,.83,.67) 200ms;
}

.agrandir_oeuvre:hover {
    width: 291px;
    height: 389px;
    z-index: 2;
}
