<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./Assets/Images/Logo_MyList.png" />
    <link rel="stylesheet" type="text/css" href="./Assets/CSS/index.css">
    <link rel="stylesheet" type="text/css" href="./Assets/CSS/toutespages.css">
    <title>Mentions Légales | MyList</title>
</head>
<body>
    <section>
        <h1>Introduction :</h1>
        <I>Mis à jour le : 09/01/2023 à 22h24</I>
        <p>

            MyList est une application WEB destiné aux utilisateurs voulant lister leurs films, séries, livres favoris. Projet de SAE s3 en mode agile avec GitLab.
Membres du Groupe : J. Vanessa , B. Charlène, T. Adrien et L. Camille Notre tuteur est NDIAYE SAMBA NDOJH.

        </p>
    </section>
    <section>
        <h1>Données personnelles collectées :</h1>
        <p>
            La loi Informatique et Libertés
En France, la loi Informatique et Libertés règlemente la collecte et le traitement des données personnelles, relatives à des personnes humaines. Créée en 1978, elle continue d’évoluer, ses dernières modifications datent du 6 août 2004.

Ses principes sont le respect des libertés individuelles ou publiques, de la vie privée, des droits de l’homme. Le consentement reste une donnée majeure. Le recueil, l’enregistrement, le traitement ou l’utilisation d’une donnée ne peut se faire sans le consentement explicite de la personne concernée. La pertinence est essentielle : seules les données indispensables à ce pour quoi la collecte a été établie peuvent être collectées et enregistrées. Une fois l’objectif atteint, elles doivent être détruites.

La loi rappelle également les droits de la personne propriétaire de ses propres données :

Le droit d’information, selon lequel toute personne a le droit de savoir si elle est fichée, c’est-à-dire que ses données ont été collectée et enregistrée, ainsi que le droit de savoir dans quel(s) fichier(s) se trouvent ses données.
Le droit d’opposition, où toute personne peut s’opposer à figurer dans un fichier, ou à ce que ses données soient utilisées pour de la prospection ou à des fins commerciales, avec ou sans justification.
Le droit d’accès, qui permet de consulter à tout moment ses propres données, et d’en obtenir une copie. La demande d’accès ne doit pas être abusive, son motif doit être justifié.
Le droit de rectification, par lequel il est possible de modifier ses données, de les compléter ou de les actualiser.
Ainsi, la création d’un fichier client, l’enregistrement de données sur ses salariés, la collecte d’adresses pour une campagne d’e-mailing ne peuvent se faire au détriment des principes de la loi.

La loi Informatique et Liberté constitue le socle de la politique interne de l’entreprise vis-à-vis de la protection des données personnelles, à partir duquel se construit le contenu de la charte des données personnelles propre à l’entreprise.

        </p>
    </section>
    <section>
        <h1>Utilisation des données personnelles :</h1>
        <p>
            Les données collectées sont stockées sur une base de donnée MySQL, chaque utilisateur possède un ID d’utilisateur qui lui est attribué automatiquement durant son inscription, un Pseudonyme qu’il choisira et qui s’affichera uniquement pour lui-même et la base de donnée dans l’état du site à la date du 09/01/2023 (Dernière Maj de la CGU). L’utilisateur utilisera aussi un mot de passe qui lui permettra de se connecter à son compte, le mot de passé est protégé par l’algorithme SHA-256, SHA-256 (Secure Hash Algorithm 256 bits) est un algorithme de hachage qui permet de créer une empreinte numérique (appelée "hash") d'une donnée en entrée. Cet algorithme appartient à la famille des algorithmes de hachage SHA (Secure Hash Algorithm).

Le hachage est un processus de transformation de données qui permet de créer une empreinte numérique unique d'un message ou d'un fichier. Cette empreinte est générée en utilisant un algorithme de hachage spécifique, qui prend en entrée les données à hacher et produit une sortie de taille fixe appelée "hash" ou "empreinte".

SHA-256 est considéré comme l'un des algorithmes de hachage les plus sécurisés, car il est très difficile de retrouver les données d'origine à partir de l'empreinte produite. De plus, il est très difficile de créer deux messages qui produisent le même hash en utilisant l'algorithme SHA-256.

SHA-256 est souvent utilisé pour sécuriser les communications en ligne, authentifier les fichiers téléchargés et vérifier l'intégrité de données stockées. Par exemple, il est couramment utilisé pour sécuriser les transactions en ligne en générant un hash unique de chaque transaction, ce qui permet de vérifier l'authenticité de celle-ci sans révéler son contenu.

        </p>
    </section>
    <section>
        <h1>Partage des données personnelles :</h1>
        <p>
            Le partage de données personnelles ne se fait à aucun tiers, vos données sont stockées et utilisées uniquement par le site MyList.
        </p>
    </section>
    <section>
        <h1>Conservation des données personnelles :</h1>
        <p>
            Les données utilisateurs sont conservées tant que l’utilisateur le souhaite, d’après le RGPD, un droit à l’oubli pourra être effectué après 3 ans d’inactivité sur le site WEB, si l’utilisateur souhaite supprimer son compte, il peut se référer à la partie Contact mentionnée plus bas.
        </p>
    </section>
    <section>
        <h1>Droits des utilisateurs :</h1>
        <p>
            Tout utilisateur peut demander la suppression, modification des données liées à son compte via le formulaire contact, des précisions sur ce formulaire sont mentionnées ci-dessous.
        </p>
    </section>
    <section>
        <h1>Sécurité des données personnelles :</h1>
        <p>
            Seul le Pseudonyme et le Mot de Passe sont enregistrés sur notre base de données, par conséquent, aucune autre donnée personnelle n’est sauvegardée.
        </p>
    </section>
    <section>
        <h1>Modifications de la charte de confidentialité :</h1>
        <p>
            Pour toute future mise à jour de la Charte de confidentialité, la date de la dernière mise à jour sera affichée en haut de cette page, merci de vous y référer et de la vérifier fréquemment.
        </p>
    </section>
    <section>
        <h1>Liens hypertextes</h1>
        <p>Le Site peut contenir des liens hypertexte donnant accès à d'autres sites web édités et gérés par des tiers et non par l'Editeur. L'Editeur ne pourra être tenu responsable directement ou indirectement dans le cas où lesdits sites tiers ne respecteraient pas les dispositions légales.

            La création de liens hypertexte vers le Site ne peut être faite qu'avec l'autorisation écrite et préalable de l'Editeur.</p>
    </section>
    <section>
        <h1>Contact :</h1>
        <p>
            Pour tout problème quant à vos données, modifications ou suppressions de celles-ci, merci de passer par <a href="index.php?action=contact">le formulaire de la page contact</a>.
        </p>
    </section>
</body>