* {
    font-family: "Verdana", sans-serif;
}

header {
    background-color: #7B562B;
  }

  h1 {
    padding-left: 12em;
   }

li {
    display:inline-block; 
    margin-right: 10px;
    text-align: center;
    padding-bottom: 1em;
  }
  
    a {
      outline: none;
      text-decoration: none;
      padding: 2px 1px 0;
    }
    
    a:link {
      color: black;
    }
    
    a:hover {
      border-bottom: 1px solid;
      background: #D89E5A;;
    }
  
   #logoMyList {
    vertical-align: middle;
    float:left;
    padding-left: 2em;
    padding-top: 0.66em;
   }
  
   #personnage {
    vertical-align: middle;
    float:right;
    padding-right: 2em;
    padding-top: 0.66em;
   }
   
   * {
    font-family: "Verdana", sans-serif;
}

footer {
    background-color: #7B562B;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
  }

  body {
    background-color: #FEFEE2;
  }