#button-submit {
    background: #6A6F75;
    border-width: 0px;
    padding: 9px 0px;
    width: 23%;
    cursor: pointer;
    font: bold 12px Arial, Helvetica;
    color: #fff;
    text-shadow: 0 1px 0 #555;
}

#button-submit:hover {
    background: #4f5356;
}

#button-submit:active {
    background: #5b5d60;
    outline: none;
}

#button-submit::-moz-focus-inner {
    border: 0;
}

/*------- Affichage images----------*/

.conteneurH {
    width: 90%;
    height: 35%;
    margin: auto;
    overflow: auto;
    border: ridge 2px #AAAAAA;
}

.horizontal {
    margin: 2px;
    height: 200px;
    width: 175px;
}

.conteneurV {
    text-align: center;
    padding: 5px;
    border: ridge 2px #AAAAAA;
    width: 100px;
    height: 200px;
    overflow: auto;
}

.vertical {
    margin: 2px;
    width: 50px;
}

.films_titres:hover{
    color: red;
}

#acces_profil ul{
    display: none;
}

#acces_profil img:hover > ul {
    display: initial;
  }