/* A Adapter pr que ca fasse plus moderne*/
* {
    font-family: "Verdana", sans-serif;
}

body {
    background-color: #FEFEE2;
}

ul {
    list-style-type: none;
}

div.gauche {
    float: left;
    width: 50%;
    /* Largeur de la div en pourcentage de la largeur de l'écran */
}

div.gauche * {
    margin-left: 20%;
}

div.gauche img {
    width:300px;
    height:411px;
}

div.gauche ul {
    list-style: none;
    /* Supprime les puces des éléments de la liste */
}

div.droite {
    float: right;
    width: 50%;
    /* Largeur de la div en pourcentage de la largeur de l'écran */
    font-family: sans-serif;
    /* Modifie la police de caractères du texte */
}

div.droite * {
    margin-right: 20%;
}

/* Bouton 24 à pas toucher */
.button-24 {
    background: #7B562B;
    border: 1px solid #7B562B;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #D89E5A;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #7B562B;
}

.button-24:active {
    opacity: .5;
}