#prenom {
    margin-right: 1em;
}

h1 {
    text-align: center;
}

* {
    font-family: "Verdana", sans-serif;
}

#fieldset {
    width: 600px;
    height: 150px;
    margin: auto;
}

#fieldsetOpt {
    width: 600px;
    height: 75px;
    margin: auto;
}

input[type=submit] {
    display: block;
    margin: auto;
}

li {
    display: inline-block; 
    margin-right: 10px;
  }

  a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: black;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: orange;;
  }

  header {
    background-color: #D89E5A;
  }
