* {
    font-family: "Verdana", sans-serif;
    text-align: center;   
}

#pseudo, #mdp {
    display: block; 
    margin-top: 0.5em;
    margin-bottom: 2em;
}

input[type=submit], input[type=password], input[type=text] {
    display: block;
    margin: auto;
}

h2 {
    margin-bottom: 2em;
}

#texte {
    margin-left: 5em;
    margin-right: 8em;
}