* {
  font-family: "Verdana", sans-serif;
}

h2 {
  text-align: center;
  margin-top: 2em;
}

#prenom {
    margin-right: 1em;
}

#fieldset {
    width: 600px;
    height: 150px;
    margin: auto;
}

#fieldsetOpt {
    width: 600px;
    height: 75px;
    margin: auto;
}

input[type=submit] {
    display: block;
    margin: auto;
}
